# Directories #
.ipynb_checkpoints/
images/
stanford-kk544xm4197-shapefile/

# Files #
Alphabetical Guide to Spain - Geo.csv
Alphabetical Guide to Spain - List Upload.csv
Alphabetical Guide to Spain.ods
.-lock.Alphabetical Guide to Spain.ods#
